<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bill System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-md">
        <a class="navbar-brand" href="#">Space-Y Capital</a>
        <a type="submit" href="{% url "logout"%}" class="btn btn-primary"><span>Log out</span></a>
      </div>
    </nav>
    <h1 class="text-center">Space-Y Capital</h1>
    <div class="container">
        <div class="card">
            <div class="card-header bg-black"></div>
            <div class="card-body">
          
              <div class="container">
                <div class="row">
                  <div class="col-xl-12">
                    <i class="far fa-building text-danger fa-6x float-start"></i>
                  </div>
                </div>
          
          
                <div class="row">
                  <div class="col-xl-12">
          
                    <ul class="list-unstyled float-end">
                      <li style="font-size: 30px; color: red;">SpacexCompany</li>
                      <li>123, abc Street</li>
                      <li>123-456-789</li>
                      <li>space@gmail.com</li>
                    </ul>
                  </div>
                </div>
          
                <div class="row text-center">
                  <h3 class="text-uppercase text-center mt-3" style="font-size: 40px;">Invoice / Bill </h3>
                  <p>123456789</p>
                </div>
          <form action="{% url 'pdf'%}" method="POST">
            {% csrf_token %}

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" >Custumer name</label>
              {% comment %} <input name="Samsung_TV"type="number" class="" id="inputGroupFile03" aria-label="" required> {% endcomment %}
              <input name="name1" type="name" class="form-control " id="exampleInputEmail1"  required  style="width= 100px">
              {% comment %} <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> {% endcomment %}
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Phone Number</label>
              <input name="number1" type="number" class="form-control" id="exampleInputEmail1"  required>
              {% comment %} <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> {% endcomment %}
            </div>


                <div class="row mx-3">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Amount/piece</th>
                        <th scope="col">Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Samsung TV</td>
                        <td><i class="fas fa-dollar-sign"></i> 30000</td>
                        <td><input name="Samsung_TV"type="number" class="" id="inputGroupFile03" aria-label="" required></td>
                      </tr>
                      <tr>
                        <td>JBL Speaker</td>
                        <td><i class="fas fa-dollar-sign"></i> 500000</td>
                        <td><input name="JBL_Speaker"type="number" class="" id="inputGroupFile03" aria-label="" required></td>
                      </tr>
                      <tr>
                        <td>Macbook Air</td>
                        <td><i class="fas fa-dollar-sign"></i> 100000</td>
                        <td><input name="Macbook_Ai"type="number" class="" id="inputGroupFile03" aria-label="" required></td>
                      </tr>
                      <tr>
                        <td>Iphone 11 PRO</td>
                        <td><i class="fas fa-dollar-sign"></i> 100000</td>
                        <td><input name="Iphone_11_PRO"type="number" class="" id="inputGroupFile03" aria-label="" required></td>
                      </tr>
                    </tbody>
                    
                  </table>
                  <select class="form-select" aria-label="Default select example" style="weidht=300px" name="paymentoption">
                    <option selected>Open this select payment method</option>
                    <option value="Only Cash">Only cash</option>
                    <option value="Online Payment">online payment</option>
                  </select>
          
                </div>
                <div class="row">
                  <div class="col-xl-8">
                    {% comment %} <ul class="list-unstyled float-end me-0">
                      <li><span class="me-3 float-start">Total Amount:</span><i class="fas fa-dollar-sign"></i> 6850,00
                      </li>
                      <li> <span class="me-5">Discount:</span><i class="fas fa-dollar-sign"></i> 500,00</li>
                      <li><span class="float-start" style="margin-right: 35px;">Shippment: </span><i
                          class="fas fa-dollar-sign"></i> 500,00</li>
                    </ul> {% endcomment %}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-xl-8" style="margin-left:60px">
                    <p class="float-end" name="total"
                      style="font-size: 30px; color: red; font-weight: 400;font-family: Arial, Helvetica, sans-serif;">
                      Total:
                      <span><i class="fas fa-dollar-sign"></i></span></p>
                  </div>
                 

          
                </div>
            
                <div class="row mt-2 mb-5">
                  <p class="fw-bold">Date: <span class="text-muted"><input name="date" type="date" class="" id="inputGroupFile03" aria-label="" required></span></p>
                  
                  <button type="submit" class="btn btn-primary btn-lg">Generate PDF</button>
                </div>
            </form>
          
              </div>
          
            
          
            </div>
            <div class="card-footer bg-black"></div>
          </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>

